.fila {
    display: inline-block;
    text-align: center;
}

.tabla {
    text-align: center;
}

.tabla .table {
    border: 1px solid blue;
}
.container {
    text-align: center;
}

.tr {
    border: 1px solid red;
    border-color: black;
    color: red;
    text-align: center;
}
a {
    color: rgb(250, 246, 246);
    text-decoration: none;
    font-weight: bold;
    border-color: blue;
    border-spacing: 23px;
    text-align: center;
    justify-self: center;
    justify-items: center;
    justify-content: center;
}
nav a:hover {
    border: 1px solid rgb(203, 217, 243);
}
.titulo {
    text-align:center;
    font-family: fantasy;
    font-size: 50px;
    background: url("cafe99.png");
    background-repeat: repeat-x;
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    color: black;
}
header {
    text-align: center;
    margin:0;
    justify-items: center;
    justify-items: center;
}

header nav a{
    color:white;
    display:inline-block;
    line-height: 1;
    text-decoration: none;
    border-radius: 1px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding-right: 10px;
    background: rgba(68, 46, 5, 0.8);
    padding-left: 10px;
}

p {
   
    
    font-weight: bold;
}

h3 {
    color: white;
    font-family: monospace;

}

.texto {
    text-align: center;
}

footer {
    margin-top: 170px;
}

.contactos {
    color: white;
    margin-top: 10px;
}

p {
    color:white;
}
